@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/*h2.homepage-body-title{
	font-family: Roboto, san-serif;
	text-align: center;
	color: $gray;
	font-weight: 500;
	font-size: 48px;
}

h3.central-homepage-sub{
	font-family: Roboto, san-serif;
	text-align: center;
	color: $gray;

	font-weight: 400;
	font-size: 18px;

}

p.central-homepage-para{
	font-family: Roboto, san-serif;
	text-align: center;
	color: $gray;
	width: 39%;
	margin: 0 auto;
	display: block;
	font-weight: 300;
	font-size: 14px;

}
*/

h2.content-title{
	font-family: Open Sans, san-serif;
	text-align: center;
	text-transform: uppercase;
	color: $white;
	font-weight: 600;
	font-size: 2em;

}