/*@kbdesign.leeds*/

/*Inner padding of container controller*/
$ss-px: 5px;
$s-px: 15px;
$xs-px: 25px;
$m-px: 45px;
$xm-px: 65px;
$l-px: 85px;
$xl-px: 105px;
$xxl-px: 155px;

/*control the hero banner content controller*/
$hero-px: 350px;
$lhero-px: 200px;
$mhero-px: 150px;
$shero-px: 100px;

/*Screen size breakpoints*/
$s-mobile: 320px;
$mobile: 480px;
$l-mobile: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 990px;
$s-desktop: 1024px;
$desktop: 1224px;

/*@Inner padding of container controller
$fontWhiteHeader: arial;
$header1: ;
$header1: ;
$paragraphwhite: ;
$paragraphlightGray: ;
*/

